.team-player-list-container {
  margin-top: 0.6rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box; 
}

.team-player-list-container.lights {
  border-top: 5px solid #fbc02d;
}

.team-player-list-container.darks {
  border-top: 5px solid #607d8b;
}

.team-title {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.team-title .team-icon {
  margin-right: 8px;
}

.team-row {
  &:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
}

.team-title > h6 {
  margin: 0;
}
