.cancel-icon-cell {
  width: 1%;
  white-space: nowrap;
}

.removing {
  animation: fadeOut 1s forwards;
  background-color: rgba(255, 0, 0, 0.1); 
}

.cancel-icon-cell, .team-icon-cell {
  min-width: 50px; 
  width: auto; 
}

@media (max-width: 600px) {
  .narrow-cell {
    min-width: 30px !important;
    width: 30px !important;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none; 
  }
}
