input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none; 
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-selection-title {
  margin-top: 15px !important;
}

.team-selection-button-container {
  margin-top: 9px; 
  margin-bottom: 9px; 
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column; 
  }

  .button-container button {
    margin-top: 10px; 
    padding: 6px 12px; 
    width: 100%; 
  }
}