  .game-title {
    font-size: 1.5em; 
    font-weight: bold;
  }
  
  .game-info-text {
    line-height: normal; 
    vertical-align: middle;
    margin-left: 8px; 
  }

  .game-info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em; 
    font-size: 0.99rem;
    color: #555; 
    align-items: center;
    padding: 5px;
  }
  
  .game-info-icon {
    font-size: 1.1em; 
    margin-right: 0.2em;
    vertical-align: middle;
    line-height: normal; 
  }
  
  @media (max-width: 600px) {
    .game-info {
      flex-direction: column;
      align-items: flex-start;
    }

    .game-info > span:first-child {
        margin-bottom: 1rem;
    }
    
    .main-button {
        width: 100%;
    }
  }

  .team-lists-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  @media (min-width: 600px) {
    .team-lists-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .player-lists-container {
    margin-top: 2rem;
  }
  
  .team-title {
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #f5f5f5;
  }