@keyframes fadeInHighlight {
    from {
      background-color: #d4edda;
    }
    to {
      background-color: transparent;
    }
  }
  
  .highlighted-row {
    animation: fadeInHighlight 2s forwards;
  }
  
  .player-list-container {
    overflow-y: auto;
    scroll-behavior: smooth;
  }