@keyframes fadeInHighlight {
    from {
      background-color: #d4edda;
    }
    to {
      background-color: transparent;
    }
  }
  
  .highlighted-row {
    animation: fadeInHighlight 2s forwards;
  }

  .substitute-row {
    background-color: #ffe4b5; 
  }
  
  .player-list-container {
    margin-top: 0.6rem;
    overflow-y: auto;
    scroll-behavior: smooth;
  }